<div class="columns is-centered">
  <div class="column is-12">
    <h1 class="title is-1">Site diferentão</h1>
  </div>
</div>

<div class="columns">
  <nav class="column is-3">
    <p class="menu-label">
      Menu de navegação
    </p>
    <ul class="menu-list">
      <li><a href="." class="is-active">Home</a></li>
      <li><a href="https://bulma.io/">Bulma CSS</a></li>
    </ul>
    <ul class="menu-list">
      <li><a href="#">Links Úteis</a></li>
      <li>
        <ul>
          <li><a href="https://www.ifsp.edu.br/">IFSP</a></li>
          <li><a href="https://moodle.scl.ifsp.edu.br/">Moodle</a></li>
          <li><a href="https://stackoverflow.com/">Stack Overflow!</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main class="column is-6">
    <h1 class="subtitle">Minha cara ao ver que não é BootStrap...</h1>
    <img src="../assets/img/image.jpg">
  </main>
  <aside class="column is-3">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input type="text" [(ngModel)]="nome" placeholder="Digite seu nome" [ngClass]="{
          'input' : true,
          'is-danger' : nome.length === 0,
          'is-success' : nome.length > 0}">

        
        <p *ngIf="nome.length == 0" class="help is-danger">O nome está vazio!</p>
        <p *ngIf="nome.length > 0" class="help is-success">O nome está OK!</p>
      </div>
    </div>


    <div class="field">
      <label class="label">Gostou da foto?</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Sim!</option>
            <option>Não!</option>
            <option>O.o</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Comentário</label>
      <div class="control">
        <textarea class="textarea" placeholder="Comente o que achou"></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          Eu afirmo que li a <a href="https://bulma.io/documentation/form/general/">documentação oficial</a>
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Posso perguntar?</label>
      <div class="control">
        <label class="radio">
          <input type="radio" name="question">
          Sim
        </label>
        <label class="radio">
          <input type="radio" name="question">
          Não
        </label>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Enviar</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancelar</button>
      </div>
    </div>
  </aside>
</div>